@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    color: var(--tg-theme-text-color);
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.tg-hint {
    color: var(--tg-theme-hint-color);
}

.tg-accent {
    color: var(--tg-theme-accent-text-color);
}

/* input[type='text'] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2rem solid var(--tg-theme-button-color);
    background-color: var(--tg-theme-button-ttcolor);
    border-radius: 0.2rem 0.2rem 0 0;
    padding: 0.4rem 0.8rem;
    color: var(--tg-theme-button-color);
    font-size: 1.25rem;
} */
textarea.tg {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2rem solid var(--tg-theme-section-bg-lcolor);
    /* background-color: var(--tg-theme-section-bg-tcolor); */
    background: none;
    border-radius: 0.2rem 0.2rem 0 0;
    padding: 0.8rem 1.6rem 0.8rem 0.6rem;
    color: var(--tg-theme-text-color);
    font-size: 1.25rem;
    line-height: 1.75rem;
    resize: none;
    overflow: hidden;
    transition: all 0.1s;
}

.tg-button {
    /* box-shadow: 0 8px 15px 0 var(--tg-theme-button-tcolor); */
    background-image: linear-gradient(
        to bottom right,
        var(--tg-theme-button-color) 0%,
        var(--tg-theme-button-lcolor) 100%
    );
    color: var(--tg-theme-button-llcolor);
    /* height: 52px; */
}

.tg-button.s {
    box-shadow: 0 10px 15px -3px var(--tg-theme-button-tcolor),
        0 4px 6px -4px var(--tg-theme-button-tcolor);
}

textarea.tg.small {
    font-size: 1rem;
    padding: 0.6rem 1.6rem 0.6rem 0.6rem;
}

.tg-red {
    color: var(--tg-theme-destructive-text-color);
}

textarea.tg:focus {
    border-bottom: 0.2rem solid var(--tg-theme-button-color);
    background-color: var(--tg-theme-button-ttcolor);
    padding-right: 1rem;
    padding-left: 1.2rem;
}

input[type='number'].tg {
    width: 3rem;
    padding: 0.4rem;
    outline: none;
    /* background-color: var(--tg-theme-button-ttcolor); */
    background: none;
    border-radius: 0 0.2rem 0.2rem 0;
    text-align: center;
    color: var(--tg-theme-text-color);
    appearance: textfield;
    font-size: 1.25rem;
    margin: 0;
    &::-webkit-inner-spin-button {
        opacity: 1;
        background: red;
    }
}

select.tg {
    border: none;
    outline: none;
    background-color: var(--tg-theme-button-ttcolor);
    /* background: none; */
    border-radius: 0.2em;
    padding: 0.2rem 0.4rem;
    color: var(--tg-theme-accent-text-color);
    font-size: 1rem;
    resize: none;
    overflow: hidden;
}

input[type='text']::placeholder {
    color: var(--tg-theme-section-bg-lcolor);
}
textarea::placeholder {
    color: var(--tg-theme-section-bg-lcolor);
}
